.main-container {
  position: absolute;
  top:0;
  left: 0;
  max-width: 100vw;
  max-height: 100vh;
  transition: all 0.3s;
  overflow-y: scroll;
  overflow-x: hidden;
}
.main-container h1 {
  width: 90%;
}

.main-container.notfull {
  padding-left: 240px;
}
